name: Publish to GitHub Pages

on:
  push:
    # branches-ignore: [$default-branch]
    paths-ignore:
      - '.devcontainer/**'
      - '.vscode/**'
      # - 'out/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          npm install
          npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: out
          single-commit: true

      # - name: Deploy
      #   uses: peaceiris/actions-gh-pages@v3
      #   with:
      #     publish_dir: ./out
      #     force_orphan: true

      # - name: Upload artifact
      #   uses: actions/upload-pages-artifact@v3
      #   with:
      #     path: out
      # - name: Deploy
      #   uses: actions/deploy-pages@v4
